/*
Theme Name: My Theme
Template: mesmerize
Author: Gruppe 4
Version: 1.0.0
Description: LOUD
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
	background-color: white;
}

h1 {
	font-size: 3rem;
	color: #E4254A;
	font-family: 'Lato', sans-serif;
	margin-top: 30px;
}
